PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/smart-qr-restaurant?retryWrites=true&w=majority
FRONTEND_URL=http://localhost:5173
ORDER_NUMBER_START=50
JWT_SECRET=<your-super-secure-random-secret>
JWT_EXPIRES_IN=7d
RECOVERY_SECRET=7519820884
DEFAULT_ADMIN_USERNAME=shabaz26
DEFAULT_ADMIN_PASSWORD=shabaz@26
DEFAULT_KITCHEN_USERNAME=shameer28
DEFAULT_KITCHEN_PASSWORD=shameer@28
UPI_ID=7519820884@ibl
PAYEE_NAME=Mohammad Shabaz
