PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/smart-qr-restaurant?retryWrites=true&w=majority
FRONTEND_URL=http://localhost:5173
ORDER_NUMBER_START=1000
JWT_SECRET=<your-super-secure-random-secret>
JWT_EXPIRES_IN=7d
RECOVERY_SECRET=<your-super-secure-recovery-secret>
DEFAULT_ADMIN_USERNAME=
DEFAULT_ADMIN_PASSWORD=
DEFAULT_KITCHEN_USERNAME=
DEFAULT_KITCHEN_PASSWORD=
